<div class="container">
	<div class="padded row">
		<div class="span3">
			<div class="footer-title">Questions</div>
				<ul class="footer-links">
					<li><a href="http://beta.teeboxnetwork.com">Latest Questions</a></li>
					<li><a href="http://beta.teeboxnetwork.com/questions/unanswered">Unanswered Questions</a></li>
					<li><a href="http://beta.teeboxnetwork.com/questions/popular">Popular Questions</a></li>
					<li><a href="http://beta.teeboxnetwork.com/tags">Tag Vault</a></li>
				</ul>	
			</div>
			<div class="span3">
				<div class="footer-title">About</div>
				<ul class="footer-links">
					<li><a href="http://beta.teeboxnetwork.com/about">About us</a></li>
					<li><a href="http://beta.teeboxnetwork.com/how-it-works">How it Works</a></li>
					<li><a href="http://beta.teeboxnetwork.com/users">Leaderboard</a></li>
				</ul>	
			</div>
			<div class="span3">
				<div class="footer-title">Teebox</div>
				<ul class="footer-links">
					<li><a href="http://beta.teeboxnetwork.com" data-ref="welcome-tour" id="welcome-start-tour">Take the tour</a></li>
					<li><a href="http://beta.teeboxnetwork.com/sitemap">Sitemap</a></li>
					<li><a href="http://beta.teeboxnetwork.com/terms-and-conditions">Terms &amp; Conditions</a></li>
					<li><a href="http://blog.teeboxnetwork.com">Blog</a></li>
				</ul>
			</div>
			<div class="span3">
				<div class="footer-title">Social</div>
				<ul class="footer-links">
					<li><a href="https://twitter.com/Teebox_network"><i class='icon-twitter twitter'></i></a></li>
					<li><a href="https://www.facebook.com/TeeboxNetwork"><i class='icon-facebook-sign facebook'></i></a></li>
					<li><a href="https://plus.google.com/b/104485287628972276434/104485287628972276434/posts"><i class='icon-google-plus-sign google'></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>	